<p>Add a new team under {{event name}}</p>

<div class="col-md-6">
	<form ng-submit="addNewTeam()">
	<div class="form-group">
		<label>Name of the team</label>
		<input type="text" class="form-control" ng-model="teamName" name="teamName" required>
	</div>
	<div class="form-group">
		<label>Assign team categories</label>
		<input type="text" class="form-control" ng-model="teamCategories" name="teamCategories" required>
	</div>
	<div class="form-group">
		<label>Assign a judge to the team</label>
		<input type="text" class="form-control" ng-model="teamJudgeName">
	</div>
	<button type="submit" class="btn btn-success">Add team!</button>
</form>
</div>